*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: $font-family;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

// .opacity {
//     opacity: .4;
// }

.before-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.2px;
    text-transform: uppercase;
    opacity: .7;
}

.section-p {
    color: #7685A3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.section-title {
    padding-bottom: 20px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.114px;
    background: var(--grad, linear-gradient(272deg, #bdcc14 -3.1%, #18418E 99.49%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.padding-lr {
    margin: 0 auto;
    padding-inline: 90px;
}

.padding-tb {
    padding-block: 120px;
}

.btn-primary {
    padding: 12px 24px;
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: $dark-blue;
    border-radius: 6px;
    font-weight: bold;
    transition: all .4s ease;
}

.btn-primary:hover {
    opacity: .5;
}

.btn-outline {
    padding: 12px 24px;
    border: 1px solid $dark-blue;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: $dark-blue;
    border-radius: 6px;
    font-weight: bold;
    transition: all .4s ease;
}

.btn-outline:hover {
    background-color: $dark-blue;
    color: white;
}

.home-wrapper {
    background: url("/img/wrapper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h3 {
        text-align: center;
        color: white;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -2.1px;     
    }
}

.page-hero {
    background: url("/img/page-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 64px;
        color: white;
        letter-spacing: -2px;
        text-align: center;
    }
}

.form-sucess {
    height: 80vh;
    padding-top: 200px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@keyframes aniTop {
    0% {
        padding: 0 30px;
    }

    100% {
        padding: 30px;
    }
}

@keyframes floating {

    100% {
        transform: translateY(15%);
    }
}