.modalidades {
    padding-top: 120px;

    &__top {
        padding-bottom: 100px;

        p {
            width: 60%;
        }
    }

    &__bottom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 auto;

        .modalidade-item {
            position: relative;
            justify-self: center;
            width: 100%;
            cursor: pointer;

            &:hover .modalidade-item__desc{
                animation: floating .6s infinite linear alternate;
            }

            &__image {
                width: 100%;
                border-radius: 6px;
                object-fit: cover;
            }

            &__desc {
                position: absolute;
                bottom: 30px;
                left: 30px;
                display: flex;
                align-items: center;
                
                span {
                    color: white;
                    margin-left: 10px;
                    font-size: 18px;
                    font-weight: bold;

                }
            }
        }
    }
}









