.page-hero {
    background: url("/img/page-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 64px;
        color: white;
    }
}

.main-conheca {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: $light-blue;

    .conheca-projeto {
    
        &__container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 90px;
            padding: 40px;
        }
    
        h2, p {
            flex: 1;
        }
    
        h2 {
            font-size: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            word-wrap: break-all;
            color: $color-primary;
            -webkit-text-fill-color: $color-primary;
        }

        &__objetivo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 70px;
            padding-bottom: 70px;
            margin-top: 70px;
            margin-bottom: 70px;
            border-bottom: 1px solid #50505050;
            border-top: 1px solid #50505050;

            &-text {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
        }
    }
}



.page-wrapper {
    width: 100%;
    padding-bottom: 120px;

    &__container {
        background-color: $dark-blue;
        padding: 60px 0;

        h3 {
            font-size: 24px;
            color: white;
            text-align: center;
        }
    }
}

.conheca-esportes {
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    &__left {
        flex: 1;
        display: flex;
        justify-content: center;

        h2 {
            color: $color-primary;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -3.114px;
        }
    } 

    &__right {
        flex: 1.22;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 30px;

        .item-esporte {
            box-shadow: 1px 1px 10px rgba(0,0,0,.4);
            padding: 40px 20px;
            max-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-radius: 3px;

            img {
                width: 40px;
            }
        }
    }
}