$color-primary: #18418E;
$dark-blue: #1e1e85;
$light-grey: #7685A3;
$gradient: linear-gradient(to right top, #1e1e85, #1a2688, #172d8a, #15338c, #15398d, #543a8f, #7b3b8e, #9a3e89, #ce486e, #e46d4e, #de9c36, #beca47);
$calibri: "Calibri", sans-serif;