@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$color-primary: #18418E;
$light-blue: #d5dff1;
$dark-blue: #1e1e85;
$light-grey: #4A5469;
$font-family: "Lato", sans-serif;